.div1{
    background-color: blue;
    display: inline-block;
    height: 150px;
    width: 150px;
    padding: 15px;
    margin : 10px;
}
.div2{
    background-color: red;
    display: inline-block;
    height: 150px;
    width: 150px;
    padding: 15px;
    margin : 10px;
}