h1 {
    color: white;
    font-size: 36px;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000000;
    background-color: #87CEFA;
    border-radius: 100px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    transition: background-color 1s, color 1s, visibility 1s;
    position: relative;
}

h1:hover::after {
    color: white;
    content: "O MAIS LINDO!";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #87CEFA;
    
    border-radius: 100px;
}

.a{
    color: red;
}
.b{
    color: green;
}
.c{
    color: blue;
}
.d{
    color: yellow;
}

.link {
    color: red;
}

.hino {
    color: blue;     
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px;    
    text-align: left; 
  }
  
body {
    background: linear-gradient(to right, #00BFFF, #87CEFA, #87CEEB, #ADD8E6, #FFFFFF);
}

.linha {
    display: flex;
    align-items: center;     
               
}

.santos {
    margin-right: auto;
    width: 120px;
    height: auto;
}

.camisasantos {
    width: 200px;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
}
