.menu{
    width: 100%; 
    height: 60px;
    background-color: black;
    color: white;
    font-size: 50px;
    position: fixed; 
    top: 0;
    left: 0;
}
.conteudo{
    margin-top: 70px;
    margin-left: 280px;
}
.menulateral{
    width: 250px;
    height: 800px;
    background-color: gray;
    position: fixed; 
    top: 60px; 
    left: 0;
}
