.banner{
    background-color: lightblue;
    width: 100%; 
    height: 150px;
    text-align: center;
    align-content: center; 
}
.titulo{
    font-size: 50px;
    width: 400px;
    height: 80px;
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    align-content: center;
}
