/* Index */
.bodyinicio{
    background-image: url('fundo.jpg');
    background-size: cover;
    font-family: 'Verdana', sans-serif;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu{
    background-color: #000000;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45%;
}

.direita, .esquerda{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    gap: 20px;
}

.botaoE{
    background-color: #000000;
    color: white;
    border-radius: 13px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}
.botaoE:hover{
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    transition: 0.25s ease;
}
.botaoD, .voltar{
    background-color: #006aff;
    color: white;
    border-radius: 13px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}
.botaoD:hover, .voltar:hover{
    background-color: #006aff;
    color: white;
    cursor: pointer;
    transition: 0.25s ease;
    filter: brightness(1.5);
}

.cadastrar{
    background-color: #000000;
    background: linear-gradient(90deg, #000000, #3d3d3d);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    margin-left: 0%;
    width: 40%;
    height: 75%;
    align-items: center;
}

.cadastrados{
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    height: 85%;
    overflow-y: auto;
}

.lista{
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    width: 90%;
    height: 85%;
    margin-left: 5%;
    overflow-y: auto;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
}

h2{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
}

input[id="titulo"], input[id="ano_lancamento"], select[id="genero"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

textarea{
    width: 100%;
    height: 100px;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

input[value="Cadastrar"] {
    background-color: #006aff;
    color: white;
    border-radius: 13px;
    padding: 10px 20px;
    font-size: 16px;
}
input[value="Cadastrar"]:hover{
    background-color: #006aff;
    color: white;
    cursor: pointer;
    transition: 0.25s ease;
    filter: brightness(1.5);
}

.cards{
    background-color: #222222;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    width: 30%;
    height: 40%;
    display: inline-block;
}
.cards:hover{
    background-color: #333333;
    transition: 0.25s ease;
    scale: 1.02;
}

.editar{
    background-color: #ffaa00;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.deletar{
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/*Editar*/

.bodyeditar{
    background-image: url('fundo.jpg');
    background-size: cover;
    font-family: 'Verdana', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo{
    text-align: center;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 35px;
    background-color: black;
    padding: 10px 20px;
    border-radius: 8px;
}

.atuais{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    height: 60%;
    margin: 20px;  
}
.novos{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    height: 60%;
    margin: 20px;
    overflow-y: auto; 
}

.dados{
    background-color: white;
    color: black;
}

.voltar{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #006aff;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: 0.25s ease;
}
.voltar:hover {
    filter: brightness(1.5);
}
