.divpai{
    background-color: blue;
    display: inline-block;
    height: 300px;
    width: 400px;
    padding: 100px;
}
.divfilho{
    background-color: red;
    display: inline-block;
    height: 100px;
    width: 200px;
    margin : 5px;
}

.divpai2{
    background-color: blue;
    display: inline-block;
    height: 300px;
    width: 400px;
    padding: 30px;
}
.divfilho2{
    background-color: red;
    display: inline-block;
    height: 100px;
    width: 200px;
    margin : 5px;
}

.divpai3{
    background-color: blue;
    display: inline-block;
    height: 300px;
    width: 400px;
    padding: 10px;
}
.divfilho3{
    background-color: red;
    display: inline-block;
    height: 100px;
    width: 200px;
    margin : 5px;
}